header.blog {
  background-image: url(../assets/blog-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  position: relative;
  background-position: 50% 50%;
}

header.blog h2 {
  position: absolute;
  top: 40%;
}

main.blog {
  position: relative;
  top: -150px;
}

aside.blog {
  right: 0;
}

aside.blog .container {
  position: relative;
}

aside.blog img {
  width: 100%;
}

aside.blog::after {
  content: "";
  position: absolute;
  display: block;
  background-color: $accentTwo;
  height: 100%;
  width: calc(100% + 2rem);
  left: -2rem;
  bottom: -3rem;
  z-index: -10;
}

aside.blog h3,
aside.blog p,
aside.blog ul {
  padding: 0px 10px;
}

aside.blog h3 {
  color: $textColor;
  font-size: 3rem;
}

aside.blog a {
  @include text(2);
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 5px;
  border-bottom: 2px solid rgba( $textColor, $alpha: 0);
  transition: all 0.5s;
}

aside.blog a:hover {
  border-bottom: 2px solid $textColor;
}

aside.blog li {
  position: relative;
}

aside.blog li::before {
  content: "\2022";
  color: $accentOne; 
  font-weight: bold;
  display: inline-block;
  width: 2rem; 
}

.post .text {
  width: calc(60% + 10px);
  padding-right: 15px;
  position: relative;
  padding: 0px 30px 30px 0px;
}

.post .text::before {
  content: "";
  position: absolute;
  display: block;
  background-color: $backgroundTwo;
  height: 110%;
  width: 120%;
  right: -2.7rem;
  bottom: .5rem;
  z-index: -10;
}

.post .text::after {
  content: "";
  position: absolute;
  display: block;
  background-color: $accentTwo;
  height: 130%;
  width: 120%;
  right: -3.2rem;
  bottom: 0px;
  z-index: -20;
}

.post .text h3 {
  margin-top: 50px;
}

.comments .userComment {
  width: 60%
}

.post img {
  width: 60%;
  filter: drop-shadow(2rem 2rem 0px $accentTwo);
}

.post p {
  margin-bottom: 20px;
}

main.blog h3 + p {
  font-style: italic;
  letter-spacing: -0.01rem;
}

.author {
  font-weight: 700;
}

.comments {
  padding-top: 20px;
}

.comments h3 {
  color: $textColor;
  margin: 30px 0px;
}

.userComment {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.userComment img {
  width: 15%;
  align-self: flex-start;
}

.commentText {
  width: 80%;
}

.commentDate {
  color: $accentOne;
  font-weight: 700;
}

.comments input,
.comments textarea {
  background-color: $backgroundTwo;
}

@media (max-width: 1100px) {
  main.blog {
    h3 {
      font-size: 3.6rem;
    }

    .post .text {
      &::before {
        right: -2.1rem;
      }
  
      &::after {
        right: -2.6rem;
      }
    }
  }
}

@media (max-width: 840px) {
  main.blog {
    h3 {
      font-size: 4.5rem;
    
      & + p {
        margin-top: 10px;
      }
    }

    .post {
      img {
        width: 70%;
        display: block;
        margin: 0 auto;
      }

      .text{
        width: 100%;
        padding: 0px;

        &::before {
          display: none;
        }

        &::after {
          display: none;
        }
      }
    }

    .comments {
      padding-top: 0px;

      .userComment{
        width: 100%;
      }
    }
  }

  aside.blog {
    background-color: $accentTwo;
    padding: 30px 0px;
    top: -50px;

    &::after {
      display: none;
    }

    .container {
      margin: 0 auto;
      width: 85%;
      
      img {
        display: none;
      }
    }

    .links {
      margin-top: 20px;
    }

    h3 {
      font-size: 4rem;
    }
  }
}

@media (max-height: 500px) {
  header.blog {
    height: 300px;

    h2 {
      position: relative;
    }
  }

  main.blog .post img {
    width: 40%;
  }
}