header.contact {
  background-image: url(../assets/contact-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  position: relative;
  background-position: 50% 50%;
}

header.contact h2 {
  position: absolute;
  top: 40%;
}

aside.contact {
  left: 70%;
}

main.contact {
  width: 100%;
  height: 400px;
  position: relative;
  top: -150px;
}

main.contact .container {
  position: relative;
}

.contact form {
  padding: 5rem;
  filter: drop-shadow(2rem 2rem 0px $accentOne);
  position: absolute;
  top: -35%;
  height: auto;
}

.contact input,
.contact textarea,
.contact form {
  background-color: $backgroundOne;
}

.contact .social i {
  color: $accentOne;
  font-size: 2.5rem;
  margin-right: 10px;
  padding-right: 10px;
}

.social + p {
  margin: 10px 0px;
}

@media (max-width: 840px) {
  aside.contact {
    left: 0px;
    text-align: center;

    .social i {
      padding: 5px;
      margin: 5px;
    }
  }
}

@media (max-width: 500px) {
  aside.contact {
    top: -100px;
    margin-bottom: 0px;
  }
}

@media (max-height: 500px) {
  header.contact {
    height: 300px;

    h2 {
      position: relative;
    }
  }
}