header.home {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 850px;
  background-image: url(../assets/home-image-1.jpg);
  background-size: cover;
  background-position-x: 70%;
  background-repeat: no-repeat;
}

header.home .heroText {
  position: absolute;
  left: 47%;
  top: 40%;
}

header.home .heroText h2 {
  display: inline;
}

.floatingImage {
  width: 45vw;
  position: absolute;
  bottom: -7%;
}

.intro {
  position: relative;
}

.intro .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 125px 0px 70px 0px;
}

.intro .text {
  width: 65%;
}

.intro .text p {
  margin: 20px 0px 30px 0px;
}

.intro .textImage {
  width: 25%;
  filter: drop-shadow(-2rem 2rem 0px $accentTwo);
  align-self: center;
}

.gallery {
  background-color: $backgroundOne;
  padding: 75px 0px;
}

.gallery .wrapper {
  display: flex;
  justify-content: space-between;
}

.gallery img {
  width: 30%;
}

.links .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 0px 100px 0px;
}

.links .offers,
.links .community,
.links .blog,
.links .contact {
  width: 42%;
  position: relative;
  margin: 20px 0px;
}

.links .offers,
.links .blog {
  margin-left: 50px;
}

.links i {
  font-size: 2.5rem;
  color: $textColor;
  position: absolute;
  top: 10px;
  left: -50px;
}

.links .blog i {
  padding-left: 4px;
}

.links .contact i {
  padding-left: 1px;
}

.link i::before {
  position: relative;
}

.links i::after {
  content: "";
  display: block;
  position: absolute;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-color: $accentTwo;
  z-index: -10;
  top: -8px;
  left: -8px;
}

.details {
  background-color: $backgroundOne;
  position: relative;
}

.details img,
.details .text {
  width: 45%;
}

.details .text {
  position: relative;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.details img {
  position: absolute;
}

.details .text p {
  margin: 10px 0px;
}

.details .text button {
  margin: 20px 0px;
}

img.left {
  filter: drop-shadow(2rem 2rem 0px $accentOne);
  left: 0px;
  top: -50px;
}

img.right {
  filter: drop-shadow(-2rem 2rem 0px $accentOne);
  right: 0px;
  bottom: -35px;
}

.text.left {
  padding-left: 7.5vw;
  left: 0px;
  text-align: right;
}

.text.right {
  padding-right: 7.5vw;
  left: 55%;
}

.footerBanner {
  width: 100%;
}

.footerBanner img {
  width: 100%;
}

.trials {
  padding: 80px;
}

.trials h3 {
  text-align: center;
}

.trials p {
  display: block;
  width: 70%;
  margin: 30px auto;
}

.trials button {
  display: block;
  margin: 0 auto;
}

@media (min-width: 1800px) {
  .floatingImage {
    width: 40vw;
  }
}

@media (max-width: 1400px) {  
  header.home {
    height: 800px;
  }

  main.home {
    .intro {
      .wrapper {
        padding: 125px 0px 50px 0px;
      }
    }
    
    .details {
      .text {
        padding-top: 6rem;
        padding-bottom: 6rem;
      }
    }
  }
}

@media (max-width: 1300px) {
  header.home {
    height: 750px;
  }

  main.home {
    .links i::after {
      left: -6px
    }
  }
}

@media (max-width: 1200px) {
  header.home {
    height: 700px;

    img {
      bottom: 0px;
    }
  }

  main.home {
    .intro {
      .wrapper {
        padding-top: 50px;
      }
    }

    .details {
      .text {
        padding-top: 4rem;
        padding-bottom: 4rem;
      }
    }
  }
}

@media (max-width: 1100px) {
  header.home {
    height: 650px;

    h2 {
      font-size: 9rem;
    }
  }

  main.home {
    .details {
      .text {
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
    }

    .trials p {
      width: 85%;
    }
  }
}

@media (max-width: 1000px) {
  header.home {
    height: 575px;
  }

  main.home {
    .details {
      .text {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
  }
}

@media (max-width: 840px) {
  header.home {
    height: 500px;

    .heroText {
      left: 15%;
      top: 35%;
    }

    .floatingImage {
      display: none;
    }
  }

  main.home {
    .intro {
      .wrapper {
        flex-direction: column-reverse;

        img {
          width: 40%;
        }

        .text {
          width: 100%;
          text-align: center;
          margin-top: 50px;
        }
      }
    }

    .gallery {
      padding: 50px 0px;

      img {
        width: 48%;
      
        &:last-child {
          display: none;
        }
      }
    }

    .links {
      .wrapper {
        padding: 30px 0px;
        
        div {
          width: 85%;
          margin-left: 12%;
        }
      }
    }

    .details {
      padding: 30px 0px;

      img {
        position: static;
        display: block;
        margin: 30px auto;
      }

      .text {
        position: static;
        width: 85%;
        margin: 0px auto;
        padding: 20px 0px 0px 0px;
        text-align: center;
      }

      .bottom {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    .trials {
      padding: 50px;

      p {
        width: 100%;
        text-align: center;
      }
    }
  }
}

@media (max-width: 700px) {
  header.home {
    background-position: 85% 85%;
  }
}

@media (max-width: 600px) {
  header.home {
    h2 {
      font-size: 8rem;
    }
    h5 {
      font-size: 3rem;
    }
  }
}

@media (max-width: 500px) {
  header.home {
    .heroText {
      top: 20%;

      h2 {
        font-size: 7rem;

      }
      h5 {
        font-size: 2.5rem;
      }
    }
  }

  main.home {
    .intro {
      .wrapper {
        img {
          width: 70%;
        }
      }
    }

    .gallery {
      img {
        width: 70%;
        margin: 0 auto;
      
      &:nth-child(2) {
        display: none;
      }
    }
  }

    .links {
      .wrapper{
        div {
          margin-left: 20%;
        }
      }
    }

    .details {
      img {
        width: 70%;
      }
    }
  }
}

@media (max-width: 400px) {
  header.home {
    .heroText {
      h2 {
        display:block;

        &:last-child {
          padding-left: 100px;
        }
      }
    }
  }
}