@import '_variables.scss';

@mixin heading($size) {
  font-family: $fontOne;
  font-size: $size * 1rem;
  color: $accentOne;
}

@mixin text($size) {
  font-family: $fontTwo;
  font-size: $size * 1rem;
  color: $textColor;
}