@import '_setup.scss';
@import '_variables.scss';
@import '_mixins.scss';
@import '_indexStyle.scss';
@import '_blogStyle.scss';
@import '_contactStyle.scss';
@import '_mediaQueries.scss';

button {
  font-family: $font1;
  color: $text;
  background-color: $accent2;
  padding: 5px;
  border: none;
}

button:hover,
button:focus {
  color: $accent1;
}

button:active {
  filter: brightness(70%)
}